@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama-font {
    font-family: "Grey Qo", cursive;
    font-weight: 100;
    font-style: normal;
}
  

/* shared style */
.display-flex{
    display: flex;
    
}
.bg-gradient{
    background-color: rgba(17, 17, 17, 1);
}
.text-white{
    color: #FFFFFF;
}
.home-btn{
    background-color: #E6533C;
    color: white;
    font-size: 1rem;
    border-radius: 46px;
    padding: 8px 20px;
}
.primary-btn{
    border: none;
    background-color: #E6533C;
    color: white;
    font-size: 1rem;
    border-radius: 46px;
    padding: 12px 40px;

}
.secondary-btn{
    border: 1px solid gray;
    background: transparent;
    color: white;
    font-size: 1rem;
    border-radius: 46px;
    padding: 12px 40px;
}
.margin-bottom{
    margin-bottom: 28px;
}


/* navbar style */

.navbar{
    max-width: 1060px;
    margin: 0 auto;
  }
nav{
    margin-top: 57px;
}
.navbar{
    justify-content: space-between;
    align-items: center;    
}
.nav-item{
    list-style: none;
    margin-right: 47px;

}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 4px;
}
.nav-link{
    text-decoration: none;
}
.brand{
    color: #E6533C;
    font-weight: 800;
    font-size: 3rem;
    font-style: italic;
}

/* hero section */
.hero{
    max-width: 1060px;
    margin: 0 auto;
}
.hero-section-title{
    font-size: 78px;
    line-height: 120%;
    margin-bottom: 28px;
}
.hero-img{
    margin-bottom: 35px;
    margin-right: 30px;
}
#miama-font{
    font-size: 140px;
}
.info-section{
    width: 50%;
}
.img-section{
    width: 50%;
    text-align: end;
    position: relative;
    display: inline-block;
}

#tutorial-video-1{
    position: absolute;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 23px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 12px;
    color: white;
    align-items: center;
    gap: 20px;
    margin-top: -230px;
    margin-left: 30px;
    border: none;
  }
  #tutorial-video-2{
    position: absolute;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 23px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 12px;
    color: white;
    align-items: center;
    gap: 20px;
    margin-top: -550px;
    margin-left: 330px;
    border: none;
  }

  .dot {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    display: inline-block;
  }
  #t-videos{
    font-size: 1.5rem;
    font-weight: 700;
 
  }
  #t-name{
    font-size: 1rem;
  }


 /* Habits-section */
.Habits-section{
    margin-top: -40px;
    background-color:black;
    
}
.change-habit{
    max-width: 1060px;
    margin: 0 auto;
    
}
.title-section{
    padding: 30px;
    text-align: center;
}
 .title-section > h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
 }

 .title-description{
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.5);
 }
 .circles{
    display: flex;
    justify-content: space-between;
 }
 .circle{
    text-align: center;
 }
 .circle img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
 }

.circle h3{
    margin: 10px 0;
    font-size: 1.2rem;
    color: white;
}
.circle p{
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 120px;
}

/* run-extra-section */
.run-extra-section{
    background-color: black;

}
.run-container{
    max-width: 1060px;
    margin: 0 auto;
    background-color: #222222;
    color: white;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}
.text-content{
    flex: 1;
    margin-right: 20px;
    padding-left: 54px;
    padding-right: 54px;

}
.text-content h1{
    font-size: 3rem;
    margin:  0 0 20px 0;
}
.text-content p{
    margin-bottom: 30px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
.img-content{
    flex: 1;
}

.img-content img{
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

/* bmi-section */
.bmi-section{
    background-color: black;
}
.bmi-container{
    max-width: 660px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    
}
.bmi-container h1{
    font-size: 3rem;
    margin:  80px 0 20px 0;
}
.bmi-container p{
    margin-bottom: 30px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}

/* bmi-calculator-section */
.bmi-calculator-section{
    background-color: #222222;
}
.container{
    max-width: 1060px;
    margin: 0 auto;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 70px;
}
.bmi-chart{
    margin: 0 20px;
    /* width: 30%; */
}
.bmi-calculator{
    margin: 0 30px;
    width: 60%;
    margin-top: 65px;
}
.bmi-calculator >p{
    color: rgba(255, 255, 255, 0.5);
}

.bmi-chart h2, .bmi-calculator h2{
    font-size: 28px;
    margin-bottom: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
table,th, td {
    border: 1px solid #444;
    padding: 8px;
    text-align: center;
}
.th, td{
    color: rgba(255, 255, 255, 0.5);
}
form{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
}
input, select{
    margin: 10px 0;
    padding: 10px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
}
.first-input >.first-1,.first-2{
    width: 45%;
}
.second-input >.second-1{
    width: 45%;
}
.second-2{
    width: 48%;
}
.third-input >.third-1{
    width: 97%;
    margin-bottom: 30px;
}

/* team-section */

.team-section{
    background-color: black;
    padding-bottom: 40px;
}
.team-info h1{
    padding-top: 50px;
}
.team-container{
    max-width: 1060px;
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    /* margin-bottom: 30px; */

}
.team-container h1{
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: -0px;
}
.team-describtion{
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;


}
.our-team{
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    border-radius: 10px;
    padding: 10px;
    /* gap: 20px; */
    margin-bottom: 40px;

}
.team-member{
    /* background-color: #222; */
    padding: 10px;
    border-radius: 15px;
}
.team-member img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.team-member h3{
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}
.team-member p{
    margin: 0;
    font-size: 14px;
    color: #b0b0b0;
}
.name{
    margin-top: -70px;
    margin-left: 10px;
}

/* footer-section */
.footer-section{
    /* background-color: rgba(48, 48, 48, 0.54); */
    background-color: rgb(25, 25, 25);
    padding: 40px 20px;
    color: #fff;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-brand{
    width: 45%;
}
.footer-brand h2{
    color: #E6533C;
    font-weight: 800;
    font-size: 3rem;
    font-style: italic;
}
.footer-brand p{
    color: rgba(255, 255, 255, 0.5);
}
.footer-links{
    display: flex;
    width: 45%;
    gap: 160px;
}
.footer-column{
    gap: 80px;
}
.footer-column h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.footer-column ul{
    list-style: none;
    padding: 0;
}
.footer-column ul li{
    margin-bottom: 10px;
}
.footer-column ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-line{
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 15px;
}
.footer-bottom p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

/* special seciton */

.pricing-section{
    background-color: black;

}
.pricing-continer{
    max-width: 1060px;
    margin: 0 auto;
    color: #fff;
    padding: 40px 20px;
   
}
.pricing-continer h1{
    margin-bottom: 80px;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

}
.pricing-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.card{
    background-color: #222;
    padding: 40px;
    width: 280px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;


}
.card h2{
    font-size: 3rem;
    margin: 0;

}
.plane-type{
    color: #e74c3c;
    margin: 10px 0;
    font-weight: bold;
}
.plane-name{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.card ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 50px;
}
.card ul li{
    margin: 10px 0;
}
.read-more{
    background-color: #e74c3c;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 20px;
}

/* responsive design */

/* small device OR Mobile Device*/
@media screen and (max-width:576px){
    .nav-links{
        display: none;
    }
    .brand{
        padding-left: 30px;
    }
    .hero{
        flex-direction: column;
        padding: 30px;
    }
    .info-section {
        margin-top: -40px;
        width: 100%;
    }
    .hero-section-title {
        font-size: 3.5rem;
        /* line-height: 120%;
        margin-bottom: 28px; */
    }
    .img-section {
        width: 100%;
    }
    #tutorial-video-2 {
        font-size: 1rem;
        margin-left: 260px;
    }
    .circles {
        flex-direction: column;
    }
    .circle p {
        margin-bottom: 80px;
    }
    .circle img {
        width: 200px;
        height: 200px;
    }
    .run-container{
        flex-direction: column;
    }
    .primary-btn {
        margin-bottom: 40px;
    }
    .img-content img {
        max-width: 80%;
    }
    .img-content {
        text-align: center;
    }
    .text-content> .primary-btn{
        padding: 18px 140px;
        font-size: 16px;
        font-weight: 550;
    }
    .bmi-container {
        padding: 30px;
    }
    .container{
        flex-direction: column;
    }
    .bmi-chart {
        width: 88%;
        margin-top: 20px;
    }
    .bmi-calculator {
        width: 87%;
        margin-top: 25px;
    }
    .team-section{
        padding-bottom: 0px;
    }
    .team-container {
        padding: 40px;
    }
    .team-member img {
        border-radius: 18px;
    }
    .our-team{
        gap: 13px;
        border-radius: 18px;
    }
    .name {
        margin-top: -85px;
    }
    .team-member h3 {
        font-size: 25px;
    }
    .pricing-continer h1 {
        font-size: 1.9rem;
    }
    .pricing-cards {
        flex-direction: column;
        gap: 0px;
    }
    .footer-content {
        flex-direction: column;
        padding-left: 30px;
    }
    .footer-brand {
        width: 88%;
    }
    .footer-links {
        flex-direction: column;
        display: flex;
        width: 45%;
        gap: 10px;
    }
    
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
}
